body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.active {
    padding:2px;
    background-color: lightblue;
}
.done {
    text-decoration:line-through
}
.hidden {
    display:none;
}

dl>dd{
    word-break: break-all;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;

    top: 15px; /* Элемент становится фиксированным сверху на расстоянии в 15px */
}
.inline{
    display:inline-block;
}
